*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;

}

body{
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,222,239,1) 0%, rgba(254,237,245,1) 48.5%, rgba(239,175,186,0.50) 100.2% ); */
    background: black;
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.clockWrapper{
   
    background-image: url('./clock.png');
    
    background-position-x: center;
   /* height:20em;
    width: 40em; 
    position: relative;*/
   /* padding: 5rem;*/
}

.badge{
    background: #29b6f6;
    padding: 5px 10px;
   /* width: max-content;*/
    font-family: sans-serif;
    color: whitesmoke;
    font-weight: bolder;
    text-transform: capitalize;
    position: absolute;
    top: -1em;
    left: 43%;
}

/*.clock{
    background-color: #303841;
    
    color: #D6E6F2;
    padding: 5px 10px;
    height: 100%;
    font-size: 5em;
    text-align: center;
    padding-top: 2rem;
    border-radius:4px; 
}*/

